* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
:root {
  --bar-color: rgb(83, 211, 32);
}
body {
  background-image: url('assets/517069-computer-virus-removal-in-okc-aamcomp-computer-technologies.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 160px;
}
.paragrafo{
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;

  
}
.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  /* background-color: aqua; */
  /* width: 600px; */
}
.porcent{
  color: rgb(255, 255, 255);
  font-size: 25px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  z-index: 1;
  text-align: center;
  margin-top: 10px;
  
}

.imagem {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.imagem img {
  width: 120px;
  animation: alert 2s infinite;
}

@keyframes alert {
  0% {
    width: 120px;
  }

  25% {
    width: 150px;
  }

  50% {
    width: 120px;
  }

  75% {
    width: 150px;
  }

  100% {
    width: 120px;
  }
}

.container-barra {
  width: 400px;
  height: 26px;
  border: solid 4px #dcdcdc;
  border-radius: 20px;
}

.barra {
  height: 100%;
  border-radius: inherit;
  background-color: var(--bar-color);
  animation: barra 4s linear forwards;
  
}

@keyframes barra {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}
@media (max-width: 431px) {

  .barra {
    height: 100%;
    border-radius: inherit;
    background-color: var(--bar-color);
    animation: barra 4.1s linear forwards;
  }
 
}


@media (max-width: 404px) {
  
  .container-barra {
    width: 310px;
    height: 26px;
    border: solid 4px #dcdcdc;
    border-radius: 20px;
  }
  .barra {
    height: 100%;
    border-radius: inherit;
    background-color: var(--bar-color);
    animation: barra 4.1s linear forwards;
  }
 
  p {
    color: white;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
  }
}



